* {
  box-sizing: border-box;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}

.main-footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer-link {
  display: inline-block;
  margin: 0px 16px;
}

.main-footer-link a {
  color: white;
  text-decoration: none;
}

.main-footer-link a:hover,
.main-footer-link a:active {
  color: #ccc;
}

.main-header {
  width: 100%;
  position: fixed;
  background: #2ddf5c;
  padding: 8px 16px;
  z-index: 11;
  top: 0;
}

.logo {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bolder;
  font-size: 22px;
}

.logo img {
  height: 70px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 0px 16px;
}

.main-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding: 3px 0px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 2px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}
